@import "/src/globa.scss";

.board-columns {
  display: flex;
  margin: 0 $gap $gap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 8px;
  }

  .column {
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    &:not(:first-child) {
      margin-left: $gap;
    }
    > * {
      background-color: $bg-item;
      color: #333;
      padding: 0 8px;
    }
    header {
      padding-left: 15px;
      height: $column-header-height;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      border-top-left-radius: $column-border-radius;
      border-top-right-radius: $column-border-radius;
    }
    footer {
      padding-left: 10px;
      height: $column-footer-height;
      line-height: $column-footer-height;
      font-weight: 600;
      text-align: center;
      border-bottom-left-radius: $column-border-radius;
      border-bottom-right-radius: $column-border-radius;
    }
    ul {
      list-style: none;
      margin: 0;
      max-height: calc(
        100% - #{$column-header-height} - #{$column-footer-height}
      );
      overflow-y: auto;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical {
        width: 11px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: darken($bg-item, 15);
        border-right: 5px $bg-item solid;
      }

      li {
        background-color: #fff;
        padding: $gap;
        border-radius: $column-border-radius;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        &:not(:last-child) {
          margin-bottom: $gap;
        }
        img {
          border-radius: 5px;
        }
      }
    }
  }
}
