// Khai báo biến dùng nhiều lần
$bg-color-primary: #0079bf;
$bg-color-second: #0067a3;
$gap: 10px;
$bg-item: #ebecf0;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;